html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.background-card-info {
  transform: translateY(0%);
  transition: all 2s ease-in;
}
.background-card-info:hover {
  transform: translateY(0%);
  transition: all 2s ease-in;
  display: inline-block;
}

.background-card-info[data-animation="to-top"] a span:last-child {
  transform: translateY(100%);
}
